@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: Shadows Into Light;
}

body {
  text-align: center;
  background-image: url(https://w.forfun.com/fetch/17/175c16e23218902d7f1ec5d8bcc61f32.jpeg);
  background-size: auto;
  background-repeat: repeat;
  color: white;
}
h1 {
  font-size: 90px;
}

h2 {
  font-size: 40px;
}
main {
  display: flex;
}

form {
  width: 50%;
  background: rgba(87, 87, 87, 0.384);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 70px;
  box-sizing: border-box;
  border-radius: 20px 20px 20px 20px;
  margin: auto;
}

input,
select {
  background: none;
  border: none;
  border-bottom: 1px solid rgb(190, 190, 190);
  color: rgb(148, 148, 148);
  font-size: 1.1em;
  padding: 5px;
}

select {
  padding-left: 2;
}

option {
  background: black;
}

input[type="submit"] {
  background: rgb(24, 24, 24);
  color: white;
  width: 100%;
  border-radius: 80px;
  margin-top: 30px;
}

input[type="submit"]:hover {
  cursor: pointer;
  box-shadow: 0 0 5px rgba(230, 230, 230, 0.37);
}
